
@model FYP.Models.ViewModels.OrderPaymentViewModel
@using System.Globalization;
@{

    NumberFormatInfo nfi = new CultureInfo("ms-MY", false).NumberFormat;
    nfi.CurrencyDecimalDigits = 2;
}
<div class="theme-title">
    <div>
        @Model.SelectedVendor.Name<span> Payment Detail</span>
    </div>
</div>
<div style="padding:30px 50px;">
    <div class="bread-crumb"><span><a href="/Order">Orders</a></span><span class="bread-separator">-></span><span><a href="/Order/@Model.SelectedVendor.Id">@Model.SelectedVendor.Name</a></span><span class="bread-separator">-></span><span><a href="/OrderItem/@Model.Order.Id">@Model.Order.Id</a></span><span class="bread-separator">-></span><span class="bread-target">Payment Details</span></div>
    <div>
        <table class="table table-striped table-bordered" style="background-color:white;" id="orderItemList">
            <thead>
                <tr>
                    <th>Payment ID</th>
                    <th>Method</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Payment item in Model.Payments)
                {
                    <tr>
                        <td>@item.MethodId</td>
                        <td>@item.Method</td>
                        <td>@item.Amount.ToString("C", nfi)</td>
                        <td>
                            @if (item.Status == 1)
                            {
                                <span>Active</span>
                            }
                            else if (item.Status == 2)
                            {
                                <span>Paid</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>