
@{
    ViewData["Title"] = "Edit";
}
@model FYP.Models.ViewModels.MenuListViewModel

<div style="height: 120px;background-color: #624949;position: relative">
    <div style="position:absolute; text-align:center; width:100%; font-size:40px; color:white; top:30%">
        @Model.SelectedVendor.Name
    </div>
</div>
<div style="padding:30px 50px;">
    <div style="margin-left:20px; margin-bottom:20px;"><span><a style="color:#743939;" href="/Menu">Menus</a></span><span class="nav-separator">-></span><span class="nav-target"><a style="color:#743939;" href="/Menu/Edit/@Model.SelectedVendor.Id">@Model.SelectedVendor.Name</a></span></div>
    <div class="row" style="margin-bottom:10px; width:100%; height:60px;">
        <div class="col-4">
            @if (Model.Vendors.Count() > 1)
            {
                <div style="text-align: center; border: 2px solid #7d491b; padding-bottom: 5px; background-color: #ffd4b4;">
                    <div>Select Your Vendor</div>
                    <select style="text-wrap:normal" id="vendorSelect" onchange="redirectToVendor(this)">
                        @foreach (Vendor item in Model.Vendors)
                        {
                            if (item.Id == Model.SelectedVendor.Id)
                            {
                                <option value="@item.Id" selected="selected">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        }

                    </select>
                </div>
            }
        </div>
        <div class="col-8">
            <div style="padding-top:10px;">
                <div class="btn btn-success btn-circle" style="float:right;" data-toggle="modal" data-target="#addMenuModal" onclick="reinitializeMenuCreation()"><i class="fas fa-plus" style="font-size:17px;"></i></div>
            </div>
        </div>
    </div>

    <div>
        <table class="table table-striped table-bordered" style="background-color:white;" id="menuList">
            <thead>
                <tr>
                    <th>Menu Name</th>
                    <th>Creation Date</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Menu item in Model.Menus)
                {
                <tr>
                    <td style="vertical-align:middle;">@item.Name</td>
                    <td style="vertical-align:middle;">@item.DateCreated</td>
                    <td style="vertical-align:middle;"><button class="btn btn-danger" id="m-@item.Id" onclick="deleteMenu('@item.Id',this)">Delete</button></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="addMenuModal" tabindex="-1" role="dialog" aria-labelledby="addMenuModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div style="background-color:#ffb26e1f;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create New Menu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div style="font-size: 17px;margin-bottom: 10px;">
                                <label for="Name">Menu Name:</label>
                                <input class="form-control" id="Name" type="text" />
                            </div>
                            <div id="errorFrame" style="display:none;">
                                <div id="errorMsg">

                                </div>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="createVendorButton" onclick="createMenu()">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteMenuModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:center;">
                Are you sure you want to delete the following menu?
                <div style="margin:0 auto; width:50%; padding:10px;">
                    <div style="text-align:center; border:1px solid black; padding:10px; background-color:#e8e8e8;">
                        Menu name: <span id="menuNameConfirmation"></span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="deleteConfirmButton" onclick="initiateDeleteMenu(menuDeletingId)">Delete Now</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var vendorId = '@Model.SelectedVendor.Id';
</script>
<script src="~/js/menu.js"></script>